/* Add screen styles below */
body {
    background-color: #2d3245;
}

h1 {
    font-size: 48px;
    color: #ffffff;
}

.center {
  text-align: center;
  padding: 50px;
}

p {
    font-size: 20px;
    color: #ffffff;
}

h2 {
    font-size: 28px !important;
    color: #cccccc !important;
    font-style: italic !important;
    margin-bottom: 30px !important;
}
