/* Add screen styles below */
a.active {
    font-weight: bold;
}

body {
    background-color: #2d3245;
}

h1 {
    font-size: 48px;
    color: #ffffff;
}

.center {
  text-align: center;
  padding: 50px;
}

p {
    font-size: 20px;
    color: #ffffff;
}