/* Add screen styles below */
body {
    background-color: #2d3245;
}

h1 {
    font-size: 48px;
    color: #ffffff;
}

.center {
    text-align: center;
    padding: 50px;
}

p {
    font-size: 20px;
    color: #ffffff;
}

h2 {
    font-size: 24px;
    color: #cccccc;
    font-style: italic;
}

.curr-img {
    border-radius: 50%;
    border: 10px solid white;
    object-fit: cover; 
}

img {
    border-radius: 50%;  /* add circular shadow */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

img:hover {
    transform: scale(1.05); /* enlarge the image on hover */
    cursor: pointer;
}

nav {
    gap: 20px;
    margin-top: 30px;
}

a {
    text-decoration: none; /* Remove underline from links */
}


